<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <title>{{ user.alias }}</title>
    <div id="container">
        <a href="/friends">Home</a>
        <a href="/logout">Logout</a>
        <h1>{{ user.alias}}'s Profile</h1>
        <p>Name: {{ user.name }}</p>
        <p>Email Address:{{ user.email }} </p>
    </div>
</body>
</html>