[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pytz = "==2017.3"
Django = "==1.11.10"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "2.7"
